common --deleted_packages=examples/basic,examples/basic/nested,tests/fixtures/invalid_allow_empty,tests/fixtures/invalid_defaults,tests/fixtures/invalid_mandatory,tests/fixtures/invalid_noncallable,tests/fixtures/invalid_output_select,tests/fixtures/invalid_test_name,tests/fixtures/label_context,tests/fixtures/query_inventory,tests/fixtures/query_inventory/nested,tests/fixtures/recursive_missing_load,tests/fixtures/recursive_prefix/foo/bar,tests/fixtures/rule_types
